* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Airbnb Cereal VF, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}


body {
    font-family:'Airbnb Cereal VF';
    font-size: 0.875rem;
    line-height: 1.43;
    color: #222222;
    background-color: #fff;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    line-break: strict;
    
}


@font-face {
    font-family: 'Airbnb Cereal VF';
    src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2') format('woff2 supports variations'), url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2') format('woff2-variations');
    font-style: normal;
    unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F, U+FF00-EFFFF, U+FFFFE-10FFFF;
    font-display: swap;
}

@font-face {
    font-family: 'Airbnb Cereal VF';
    src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Italics_W_Wght.4d5968bfe066c741d708adc61baed262.woff2') format('woff2 supports variations'), url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Italics_W_Wght.4d5968bfe066c741d708adc61baed262.woff2') format('woff2-variations');
    font-style: italic;
    unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F, U+FF00-EFFFF, U+FFFFE-10FFFF;
    font-display: swap;
}

@font-face {
    font-family: 'Airbnb Cereal VF';
    unicode-range: U+0600-06FF, U+0750-077F;
    font-style: normal;
    src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Arabic_W_Wght.d9f154d65b7b534fa988aba51062c8df.woff2') format('woff2 supports variations'), url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Arabic_W_Wght.d9f154d65b7b534fa988aba51062c8df.woff2') format('woff2-variations');
    font-display: swap;
}

@font-face {
    font-family: 'Airbnb Cereal VF';
    unicode-range: U+0400-04FF;
    font-style: normal;
    src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Cyril_W_Wght.26f0964acf4eb88cb3589d38a3182964.woff2') format('woff2 supports variations'), url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Cyril_W_Wght.26f0964acf4eb88cb3589d38a3182964.woff2') format('woff2-variations');
    font-display: swap;
}

@font-face {
    font-family: 'Airbnb Cereal VF';
    unicode-range: U+0590-05FF, U+FB00-FB4F;
    font-style: normal;
    src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Hebrew_W_Wght.33e5e2c8babc146eff37ebcaa12cb8bb.woff2') format('woff2 supports variations'), url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Hebrew_W_Wght.33e5e2c8babc146eff37ebcaa12cb8bb.woff2') format('woff2-variations');
    font-display: swap;
}

@font-face {
    font-family: 'Airbnb Cereal VF';
    src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2') format('woff2 supports variations'), url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2') format('woff2-variations');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Airbnb Cereal VF';
    unicode-range: U+0900-097F;
    font-style: normal;
    src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Deva_W_Wght.11994dc426c38d93ebc5f3cc27490d30.woff2') format('woff2 supports variations'), url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Deva_W_Wght.11994dc426c38d93ebc5f3cc27490d30.woff2') format('woff2-variations');
    font-display: swap;
}

@font-face {
    font-family: 'Airbnb Cereal VF';
    unicode-range: U+0E00-0E7F;
    font-style: normal;
    src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_ThaiLp_W_Wght.61a8da9355421c30286deb6d36aa3fb0.woff2') format('woff2 supports variations'), url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_ThaiLp_W_Wght.61a8da9355421c30286deb6d36aa3fb0.woff2') format('woff2-variations');
    font-display: swap;
}

@font-face {
    font-family: 'Airbnb Cereal VF';
    unicode-range: U+0370-03FF;
    font-style: normal;
    src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Greek_W_Wght.7f56bb1b50c0f29a313a57f55e55be5f.woff2') format('woff2 supports variations'), url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Greek_W_Wght.7f56bb1b50c0f29a313a57f55e55be5f.woff2') format('woff2-variations');
    font-display: swap;
}

/* end */


/* .search-bar {
    position:relative;
    z-index: 1;
    margin: -2px auto;
    /* box-shadow:rgb(0 0 0/16%)0 0 6px; */
    /* box-shadow: rgb(0 0 0 / 16%) 0 7px 6px; */


.search-bar {
    position: fixed; 
    top: 0;
    width:103%;
    z-index: 10;
    background-color: white;
    box-shadow: rgb(0 0 0 / 10%) 0 2px 4px;
    padding: 10px;
}

.section{
    margin-top:-6px;
    position:static;
    
}

.search {
    margin-top:2px;
    margin-inline: auto;
    align-items: center;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    position: relative;

    background-color: white;
    border-radius: 40px;
    padding-inline: 12px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    min-height: 56px;
    
}


.search-icon {
    transform: none;
    align-items: center;
    padding: 0;
    cursor: pointer;
    border: none;
    justify-content: center;
    font-family: inherit;
    background: transparent;

    text-align: center;
    border-radius: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 8px;
    position: relative;
    outline: none;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

button:focus:not(:focus-visible) {
    outline: none;
}

button {
    font-family: "Airbnb Cereal VF";
    font-weight: 500;
    font-size: 15px;
    display: flex;
    cursor: pointer;
    gap:10px;
    border:none;
}

button:active {
    border-style: inset;
}


.bar {
    display: grid;


}


.search-on {
    padding-left: 2px;
    text-align: center;

    max-width: 100%;
    display: grid;
    place-content: center;
    font-weight: normal;
    font-size: 10px;

}

.icon {

    line-height: 1.125rem; 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-align: center;
    font-size:14px;
    font-weight:500;
}

.search-icon {
    width: 150px;
}


.search {
    margin-top:2px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 92%;
    background-color: white;
    border-radius: 40px;
    margin-left: 16px;
    margin-right: 16px;
    box-shadow: 0 8px 25px 0 rgba(white, 0.15);
    /* border: 2px solid rgba(0, 0, 0, 0.2);  */
    min-height: 56px;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: 'air';

    font-size: 1rem;
    color: #222222;
    width: 100%;
    height: 100%;
    outline: none;
    text-align: center;
    gap: 8px;
    -webkit-tap-highlight-color: transparent;
}

.search-icon:focus {
    outline: none;
}

.search-on {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container {
    display: flex;
    gap: 40px;
    overflow: hidden;
    overflow: scroll;
    scrollbar-width: none;
    /* box-shadow:rgb(0 0 0/16%)0 0 6px; */
    padding: 0px 24px;
    font-size: 12px;



}

span .images {
    justify-items: center;
    box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.15);
    border-bottom: solid 2px #222222;
    min-height: 56px;
}

.image-container {
    border-bottom: solid 2px #222222;
}

.parks {
    display: flex;
    align-items: right;
    justify-content: right;
    right: 10px;
    left: 10px;

}

.images {
    align-content: center;
    justify-content: center;
    opacity:0.7;
}



.display {
    background-color: #fff;
    border: 1px solid #b0b0b0;
    position: absolute;
    border-radius: 10px;
    width: 80%;
    left: 10%;
    padding: 10px 16px;

}

    
.section img {

    width: 100%;
    overflow: hidden;
    aspect-ratio: 20/19;
   
    max-height: 100%;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    position: relative;

}

.img-basket {
    margin-top: 15px;
    margin-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
}

.place {
    font-family: 'Airbnb Cereal VF';
    font-size: 15px;
    font-weight:600;
    
    color: #222222;
}

.hosted {
    font-size: 15px;
    color: darkslategray;
    font-family: 'Airbnb Cereal VF';

}
.guest-containers{
    margin-top:172px;
}
/* button .extend {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)), linear-gradient(0deg, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0.48) 60%, rgba(255, 255, 255, 0.76) 100%);
} */

.data {

    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    right: 49.5px;
    stroke: #fff;
    stroke-width: 2px;
    overflow: visible;
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: 100%;
    border-radius: 40%;

}
.icon-label{
    font-size:12px;
    font-weight:700;
    font-family:'Airbnb-cereal VF';
    color:#000000;

}



.pops-up {
    width: 32px;
    height: 32px;
    background-color: #b0b0b0;
    border-radius: 50%;
    position: absolute;
}




.details{
    display:grid;
}

.arrow {
    border: none;
    top: 20px;
}

.container {
    text-align: center;
    margin:5px;
}

.past h2 {
    /* /* /* margin: 24px 0px 32px; */
    padding: 0px 24px;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif "air-book";
    display: contents;
    margin:24px 0 32px;
    font-weight:500;
    color:#222222;

}

.past {
    margin-top:24px;
}


.datas {

    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    right: 49.5px;
    stroke: #fff;
    stroke-width: 2px;
    overflow: visible;
    position: absolute;
    top: -2px;
    right: -2px;
    font-size: 100%;
    border-radius: 40%;

}

.frames {
    white-space: nowrap;
}



.pop-ups {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)), linear-gradient(0deg, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0.48) 60%, rgba(255, 255, 255, 0.76) 100%);
}


.guest-container {
    border-radius: 60px;
    margin-top:4px;
    position:absolute;
    display:grid;
    grid-template-columns: repeat(1,1fr);
}   

.guest{
    position:relative;
}
    
    /* background: linear-gradient(0deg, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)), linear-gradient(0deg, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0.48) 60%, rgba(255, 255, 255, 0.76) 100%);
 */
    

    
    /* padding: 46px 24px; */


.foot {
    margin: 0 0 8px;
    
}

.foot h2 {
    color: #222222;
    font-size: 22px;
    margin-top:0px;
    letter-spacing: var(--linaria-theme_typography-title-small22px-letter-spacing);
    font-weight:500;
    line-height:normal;
}

.popular {
     padding-top:10px;
     padding-bottom:10px;
     padding-left:10px;
     padding-right:10px;
     
     
    border: none;
    display:flex;
    overflow: scroll;
    gap:-9px;
    scrollbar-width:none;


}

.button1 {
    color: #222222;
    font-size: 14px;
    padding: 10px;
    background-color:#F5F5F5;
    border: none;
    border-left:-10px;
    border-right:6px;
    border-bottom:6px;
    margin-top:6px;
    padding:10px 10px 10px 10px;
    border-bottom:1px solid #000000;
    
    display: flex;

    /* margin-top:6px;
    margin-bottom:6px;
    margin-right:6px;
    */

}

#seo-link {
    /* padding-left:24px;
    padding-right:24px; */
    scrollbar-width:none;
    gap:10px;
    overflow:scroll;


}

.button2{
    color: #6A6A6A;
    font-size: 14px;
    padding: 10px;
    background-color:#F5F5F5;
    border: none;
    border-left:-10px;
    border-right:6px;
    border-bottom:6px;
    margin-top:6px;
    padding:10px 10px 10px 10px;
    border-bottom:1px solid lightgrey;
    white-space:nowrap;
    display: flex;
}
     




.scroll-bar {
    display: flex;
    right: 10px;
    justify-content: left;
    background-color: #fff;
    padding:2px;

}
.image-basket{
    margin-bottom:0;
}
/* .popup {
    border-bottom: none;
} */

.scroll {
    display: flex;
    fill: none;
    height:49px;
    width: 16px;
    stroke: #222222;
    stroke-width: 3px;
    overflow: visible;

}

.forward-button {
    display: flex;
    align-self: center;
    border: none;
    height: 16px;
    stroke-width: black;
    stroke-width: 3px;
}
.images{
    opacity:0.7px;
}




/* .detail
    display:grid;
    grid-template-columns: var(--card-content-grid_template-columns, minmax(0, 1fr) max-content);
}
picture{
border-radius: var(--media-container_border-radius, var(--linaria-theme_corner-radius-medium12px-border-radius));
} */


/* .guest-container{
    display:grid;
    gap:15px;
} */
.luxe{
 color:#6A6A6A;    
}
.farms{
    color:#6A6A6A; 


}
.cabin{
    color:#6A6A6A; 
    
}
.park{
    color:#6A6A6A; 

}
.golfing{
    color:#6A6A6A; 
    
}
.grid{
    color:#6A6A6A; 
    
}
.pools{
    color:#6A6A6A; 
    
}
.frames{
    color:#6A6A6A; 
    
}
.bes{
    color:#6A6A6A; 
    

}
.treehouse{
    color:#6A6A6A; 
    
}
.country{
    color:#6A6A6A; 
    
}
.omg{
    color:#6A6A6A; 
    
}
.details{
    font-family: 'Airbnb cereal VF';
}
.guest-container {
    position: relative;
}
    

.arrows {
    position:static;
    top: 10px; 
    right: 10px;
    z-index: 10; 
}


.pop-up {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)), linear-gradient(0deg, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0.48) 60%, rgba(255, 255, 255, 0.76) 100%);
}




button.extend {
    background:rgb(247,247,247);
    border: none;
    cursor: pointer;
    padding:15px; 
    border-radius: 50%;
    position:relative;
    top:-316px;
    right:-231px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)), linear-gradient(0deg, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0.48) 60%, rgba(255, 255, 255, 0.76) 100%);


    
}

button.extend:hover {
    background: rgba(0, 0, 0, 0.1); 
}


.button1{
    color:#222222;
    border-bottom:1px solid black;
    background-color:#F5F5F5;
}

.end-section{
    background-color:#F5F5F5;
}
.systems{
    display:grid;
    list-style-type: none;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
    height:327;
    width:216;
    
}
.sub{
    display:flex;
}
.show-more{

    border:none;
    display:flex;
    text-align: center;
    align-items: center;
    gap:3px;
    background-color:#F5F5F5;
}
.contain{
    font-weight:600;
    color:#222222;

}
.sub{
   color:#6A6A6A; 
}
.more{
    padding-top:32px;
    
}
.centre{
     text-decoration: none;
     color:#222222;
     

}

.topics{
    list-style-type: none;
    display:grid;
    gap:12px;
}
.help-center{
    padding-top:24px;
    padding-bottom:24px;
    border-bottom:1px solid lightgray;
    

}
.rentals{
    border-bottom:1px solid lightgray;
    padding-bottom:48px;
    padding-top:48px;
    padding-left:24px;
    padding-right:24px;
    

}
.cover{
    margin-bottom:12px;
}

.hosting{
    padding-top:24px;
    padding-bottom:24px;
    text-decoration: none;
    border-bottom:1px solid lightgray;
    
    
}
.your-home{

    text-decoration: none;
    color:#222222;
}
.host{
    text-decoration: none;
    color:#222222;

}
.airbnb{
    border-bottom:1px solid lightgray;
    padding-top:24px;
    padding-bottom:24px;
}
.money{
    display:flex;
    gap:25px;
    border:none;
    
}
.india{
    text-decoration:none;
    border:none;
    display:flex;
    gap:8px;
    
}


.english{
    border:transparent;
}
.ruseds{
    align-items: center;

    background-color:#DDDDDD;
}
.mone{
   gap:3px;
}
.language{
    border-top:1px;
    padding-top:24px;
    padding-bottom:24px;
    
}
.year{
    margin-top:20px;
    line-height:1.125rem;
    font-size:0.875rem;
}
.privacy{
    list-style-type:none;
    display:flex;
    color:#222222;
}
.ruseds{
    border:1px solid #DDDDDD;
    align-items: center;
}
.in{
    border:1px solid #DDDDDD;
}
.privaci{
    top:10px;
    padding-top:2px;
}
.foots{
    display:flex;
    gap:20px;
    align-items:center;
    justify-content: center;
    padding:0 0 20px;
    
}
.mone{
    color:#222222;
}
.pore{
    color:#E81948;
    font-size:10px;

}
.list{
    color:#E81948;

}
.pores{
    font-size:10px;

    color:#6A6A6A;
    text-align: center;
}
.explore{
   background-color: #fff;
   /* padding: 20 0 20px; */
   margin:0 0 2px;
   padding-top:20px;
   padding-bottom:-2px;
   color:#6A6A6A;
   
   

}
.three{
    display:block;
    justify-items: center;
}
.support{
    padding-top:12px;
   
    padding-left:24px;
    padding-right:24px;
    

}
.cover{
    font-size:14px;
}
button .india{
    border:none;
    background-color: #F5F5F5;
    color:#222222;
    
}
.inside{
    background-color: #F5F5F5;
    color:#222222;
}

@media screen and (min-width:375px){

.arrows {
        position:static;
        top: 10px; 
        right: 10px;
        z-index: 10; 
}
button.extend{
    
        background:rgb(247,247,247);
        border: none;
        cursor: pointer;
        padding:15px; 
        border-radius: 50%;
        position:relative;
        top:-420px;
        right:-336px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)), linear-gradient(0deg, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0.48) 60%, rgba(255, 255, 255, 0.76) 100%);
    
    
        }    
}    
